:root {
    font-size: 16px;
}

body {
    font-family: $font-family;
    font-weight: $font-normal;
    color: $white;
    line-height: 1.35;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: $dark;
}

.scroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    // This scroll property affects the JavaScript function
}

.nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.7);
    font-weight: $font-bold;

    transition: all 0.3s ease-in;
}

.nav-list {
    @include flex(center);
}

.nav-link {
    text-transform: uppercase;
    color: $dark;
    &:hover {
        color: $primary;
    }
}

.nav.active {
    background: $dark;
}

.nav.active .nav-link {
    color: $white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.section {
    scroll-snap-align: center;
    @include flex(center);
    width: 100%;
    height: 100vh;
}

.section#home {
    @include background;
    @include backImage($gradient-0, "../images/home.jpg");
}

.section#about {
    @include background;
    @include backImage($gradient-0, "../images/about.jpg");
}

.section#services {
    @include background;
    @include backImage($gradient-0, "../images/service.jpg");
}

.section#contact {
    @include background;
    @include backImage($gradient-0, "../images/contact.jpg");
}
